{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

    {% load static %}
    <!-- TODO fix issue where default profile picture doesnt show up. Maybe have new random image created for profiles -->
    <img src="{{ profile.picture.url }}" alt="{{ profile.user.username }} profile picture" style="max-width:480px; max-height:480px;" />
    <h1>{{ profile.user.username }}</h1>
    <p>Date Joined: {{ profile.user.date_joined }}</p>
    <p>{{ profile.description }}</p>

    {% if viewing_username == profile.user.username  %}
        <a class="btn btn-primary" href="{% url 'edit_profile' %}" role="button">Edit Profile</a>
    {% else %}
            {% if not follow_relationship %}
                <a class="btn btn-primary" href="{% url 'follow_user' user_id=profile.user.id %}" role="button">Follow</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'unfollow_user' user_id=profile.user.id %}" role="button">Unfollow</a>
            {% endif %}
    {% endif %}
    

{% endblock %}