
{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    {% if not posts %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Your feed is empty!</h1>
        <p class="col-md-8 fs-4">Go <a href="{% url 'users' %}">follow</a> some people or make a post.</p>
        </div>
    </div>
    {% endif %}

    <div class="card mb-4">
        <div class="card-body bg-light-subtle">
            <p class="card-text">What's new? Tell your friends about that new thing!</p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#createPost" role="button" aria-expanded="false" aria-controls="createPost">
                Add Post
            </a>

            <div class="collapse mt-4" id="createPost">
                <div class="card card-body">
                    <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data" class="form">
                        {% csrf_token %}
                    
                        {% bootstrap_form add_post_form %}
                    
                        {% bootstrap_button button_type="submit" content="OK" %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for post in posts %}
        <div class="card card-body mb-4">
            <img src="{{ post.image.url }}" alt="Post Image" style="max-width:480px; max-height:480px;" />
            <h2><a href="{% url 'profile' name=post.author.username %}">{{ post.author.username }}</a></h2>
            <p>{{ post.date }}</p>
            <p>{{ post.text }}</p>
            {% if request.user == post.author %}
                <a class="btn btn-danger w-25 mb-2" href="{% url 'delete_post' post_id=post.id %}" role="button">Delete Post</a>
            {% endif %}
            
                {% for comment in post.comment_set.all %}
                <div class="card card-body mb-2">
                    <h2><a href="{% url 'profile' name=comment.author.username %}">{{ comment.author }}</a></h2>
                    <p>{{ comment.date }}</p>
                    <p>{{ comment.text }}</p>
                </div>
                {% endfor %}

            <a class="btn btn-primary w-25 mb-2" data-bs-toggle="collapse" href="#createComment{{ post.id }}" role="button" aria-expanded="false" aria-controls="createPost">
                Add Comment
            </a>

            <div class="collapse" id="createComment{{ post.id }}">
                <div class="card card-body">
                    <form action="{% url 'add_comment' post_id=post.id %}" method="POST" class="form">
                        {% csrf_token %}
                    
                        {% bootstrap_form add_comment_form %}
                    
                        {% bootstrap_button button_type="submit" content="OK" %}
                    </form>
                </div>
            </div>
            
        </div>
    {% endfor %}
</div>

{% endblock %}