
{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<p>This is where posts show up and where you can make your own posts (if you log in)</p>


<a class="btn btn-primary" data-bs-toggle="collapse" href="#createPost" role="button" aria-expanded="false" aria-controls="createPost">
    Add Post
</a>
<div class="collapse" id="createPost">
    <div class="card card-body">
        <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
          
            {% bootstrap_form add_post_form %}
          
            {% bootstrap_button button_type="submit" content="OK" %}
          </form>
    </div>
</div>

{% for post in posts %}
    <div class="card card-body">
        <img src="{{ post.image.url }}" alt="Post Image" style="max-width:480px; max-height:480px;" />
        <h1>{{ post.author.username }}</h1>
        <h2>{{ post.date }}</h2>
        <p>{{ post.text }}</p>
    </div>
{% endfor %}

{% endblock %}